<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <title>ATAPS | Adherence to Antenatal and Postnatal Services</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL}}css/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen"> -->
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

<div class="menu">
    <div class="container clearfix">

        <div id="logo" class="grid_3">
            <img src="{{ STATIC_URL}}images/logo.png">
        </div>

        <div id="nav" class="grid_9 omega">
            <ul class="navigation">
                <li data-slide="1">Home</li>
                <li data-slide="2">Whom Its For</li>
                <li data-slide="3">How It Works</li>
                <li data-slide="4">Team</li>
            </ul>
        </div>

    </div>
</div>


<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
    <div class="container clearfix">

        <div id="content" class="grid_7">
            <h1>Informed Pregnancy</h1>

            <h2>by <span class="accrn">A</span>dherence <span class="accrn">T</span>o <span class="accrn">A</span>ntenatal
                and <span class="accrn">P</span>ostnatal <span class="accrn">S</span>ervices</h2>

            <p>
                It's a thrill to follow along as your baby or child grows and see what's new every week. ATAPS is a
                Pregnancy, Baby, and Child Development Calendar.
            </p>

            <p>
                Use ATAPS to find out what is going on with your baby during your pregnancy and what changes to expect
                during pregnancy.
            </p>

        </div>
        <div id="decorative" class="grid_5 omega">
            <img src="{{ STATIC_URL}}images/calendar.png">
        </div>

    </div>
</div>


<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    <div class="container clearfix">

        <div id="content" class="grid_12">
            <h1>Whom Its For?</h1>

            <h2>ATAPS is open to everybody but more specically...</h2>
            <ul>
                <li>Expectant Mothers ( and Fathers ).</li>
                <li>First-time mothers</li>
                <li>People in Pre-pregnacy preparations</li>
                <li>Mothers with New Borns</li>
                <li>Anyone interested in meternal health</li>
                <li>Medical Students</li>
            </ul>
        </div>

    </div>
</div>


<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
    <div class="container clearfix">

        <div id="content" class="grid_12">
            <h1>How It Works</h1>

            <h2>See how you can get started right away</h2>

            <p>
                <i class="icon-user-md"></i> An expecting mother registers by sending REGISTER to our short code
            </p>

            <p>
                <i class="icon-user-md"></i> The expecting mother receives questions to help identify the status of the
                pregnancy.
            </p>

            <p>
                <i class="icon-user-md"></i> Once the expecting mother is registered the system sends weekly messages to keep the mother informed throughout the pregnancy.
            </p>
        </div>

    </div>
</div>


<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="container clearfix">

        <div id="content" class="grid_12">
            <h1>Team</h1>

            <h2><a href="#" target="_blank"><img src="{{ STATIC_URL}}images/logo2.png" alt=""></a> was made by these
                fine folks.</h2>

            <p class="contrib">
                <a href="https://twitter.com/murangajames">@murangajames</a>,
                <a href="https://twitter.com/remo4sam">@remo4sam</a> and
                <a href="https://twitter.com/CA3S">@CA3S</a>.
            </p>

            <p>Thank you.</p>
        </div>

    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/waypoints.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/scripts.js"></script>
</body>
</html>
